
{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
{% endblock %}


{% block body %}
    <h2>Welcome {{ profile.username }}</h2>
    <div class="container" style="background-color:#f1f1f1;">
        <a href="{{ logoutRoute }}"><button type="button" class="Regbtn">logout</button></a>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div class="conversation-wrap col-lg-3">
                {% for user in users %}
                    <div class="media conversation">
                        <a class="pull-left" href="#">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTgg1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgCO6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9Xo9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/HxsdiOPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmSSqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+vw+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOngmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64aosd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFOAKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">{{ user.username }}</h5>
                            {% if user.isOnline  == true %}
                                <span class="glyphicon glyphicon-user" style="color: lawngreen"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-user" style="color: red"></span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>



            <div class="message-wrap col-lg-8">
                <div class="msg-wrap">
                   {% for message in messages %}
                      <div class="media msg">
                          <a class="pull-left" href="#">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTgg1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgCO6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9Xo9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/HxsdiOPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmSSqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+vw+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOngmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64aosd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFOAKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC">
                          </a>
                          <div class="media-body">
                            <small class="pull-right time"><i class="fa fa-clock-o"></i> {{ message.created |date('Y-m-d\\ H:i') }}</small>
                            <h5 class="media-heading">{{ message.username }}</h5>
                            <small class="col-lg-10">{{ message.message | raw }}</small>
                          </div>
                      </div>
                   {% endfor %}
                </div>

                <div class="send-wrap" style="margin-top: 30px">
                    <textarea id="message" class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>
                </div>
                <div class="btn-panel">
                    <a href="#" id="btn-send-message" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <script src="../../public/assets/js/jquery-3.4.1.min.js"></script>
    <script src="../../public/assets/js/bootstrap.min.js"></script>
    <script>
        $("#btn-send-message").click(function(){
            message = $("#message").val();
            if (message !== ""){
                $.post("message/save",
                    {
                        message: message,
                    },
                    function(data){
                       data = JSON.parse(data);
                        $(".msg-wrap").append("<div class=\"media msg\"> <a class=\"pull-left\" href=\"#\">" +
                            " <img class=\"media-object\" data-src=\"holder.js/64x64\" alt=\"64x64\" " +
                            "style=\"width: 32px; height: 32px;\" src=\"data:image/png;base64,iVBORw0KGgoAAAAN" +
                            "SUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTg" +
                            "g1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgC" +
                            "O6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5" +
                            "f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9X" +
                            "o9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/Hxsdi" +
                            "OPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmS" +
                            "SqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+v" +
                            "w+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOn" +
                            "gmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64a" +
                            "osd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFO" +
                            "AKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC\">" +
                            " </a> <div class=\"media-body\"> <small class=\"pull-right time\"><i class=\"fa fa-clock-o\">" +
                            "</i> "+ data.created  +" </small> <h5 " +
                            "class=\"media-heading\">"+ data.username  +"</h5> <small class=\"col-lg-10\">"+ data.message  +"</small> </div> </div>")
                    });
                $("#message").val('');
            }
        });
    </script>
{% endblock %}
